.icecream-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    right: 300px;
}

.icecream-graphic {
    display: flex;
    width: 75%;
    position: absolute;
}

.icecream-graphic-whip {
    display: flex;
    width: 90%;
    position: absolute;
}

@media screen and (max-width: 425px) {
    .icecream-container {
        right: 160px;
    }
  }

  @media screen and (max-width: 1440px) {
    .icecream-graphic {
      left: 150px;
    }

    .icecream-graphic-whip {
      left: 70px;
    }
  }

  @media screen and (max-width: 1814px) {
    .icecream-graphic {
      width: 70%;
    }

  }

  @media screen and (max-width: 768px) {
    .icecream-graphic {
      left: 0;
    }

    .icecream-graphic-whip {
      left: 0;
    }

    .icecream-container {
      right: 220px;
    }
  }

  @media screen and (max-width: 1024px) {
    
    .icecream-graphic {
      left: 120px;
   }

   .icecream-graphic-whip {
    left: 30px;
  }
}

@media screen and (max-width: 2560px) {
    .icecream-graphic {
      width: 60%;
    }

    .icecream-graphic-whip {
      width: 75%;
      margin-left: 90px;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 425px) {
    .icecream-graphic {
      left: 170px;
    }

    .icecream-graphic-whip {
        left: 170px;
      }
  }