@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.splash-image {
  display: flex;
  width: 100%;
  right: 30px;
}

.home-left {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  font-family: "Poppins", serif;
  color: #ed7d90;
  margin-top: -10px;
  margin-bottom: -20px;
}

h2 {
  color: #dba37d;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.squiggle-image-home {
  width: 100px;
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3 {
  display: flex;
  color: #03bdaa;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-top: 10px;
  width: 80%;
}

.home-container {
  display: flex;
  margin-top: 30px;
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: inherit;
  outline: none;
  font-family: "Poppins", serif;
  width: 215px;
  height: 60px;
  background-color: #03bdaa;
  border: 0px;
  border-radius: 30px;
  left: 60px;
}

.about-button:hover {
  cursor: pointer;
}

.build-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: inherit;
  outline: none;
  font-family: "Poppins", serif;
  width: 215px;
  height: 60px;
  border: 0px;
  border-radius: 30px;
  background: #ed7d91;
  background: -webkit-linear-gradient(bottom right, #ed7d91, #59c0be);
  background: -moz-linear-gradient(bottom right, #ed7d91, #59c0be);
  background: linear-gradient(to top left, #ed7d91, #59c0be);
}

a {
  text-decoration: none;
}

.build-button:hover {
  cursor: pointer;
}

.facebook-image {
  width: 80px;
  display: flex;
}

.instagram-image {
  width: 80px;
  display: flex;
}

.pinterest-image {
  width: 80px;
  display: flex;
}

.social-links {
  display: flex;
  margin-top: 60px;
}

.buttons {
  display: flex;
  margin-top: 60px;
}

.buttons > * {
  margin-right: 30px;
}

.social-links > * {
  margin-right: 30px;
}

.home-right {
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .home-container {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 1920px) {
  .home-container {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1366px) {
  h1 {
    font-size: 70px;
  }

  h3 {
    font-size: 20px;
  }

  .buttons {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 730px) {
  h1 {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .home-right {
    width: 100%;
  }

  .home-left {
    width: 100%;
    align-items: center;
  }

  .splash-image {
    width: 40%;
  }
}

@media only screen and (max-width: 411px) {
  h1 {
    text-align: center;
    font-size: 60px;
    line-height: .99;
    margin-top: 20px;
  }

  .splash-image {
    width: 80%;
  }

  h2 {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }

  .home-right {
    margin-top: -40px;
  }

  .squiggle-image-home {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    font-size: 15px;
    text-align: center;
  }

  .about-button {
    width: 150px;
  }

  .build-button {
    width: 150px;
  }

  .buttons > * {
    margin-right: 10px;
  }

  .social-links {
    margin-top: 30px;
  }

  .social-links > * {
    margin-right: 15px;
    margin-left: 15px;
  }

  .header-container {
    position: sticky;
    top: 0;
    background-color: #ffe2cf;
  }
}

@media only screen and (max-width: 375px) {
  .header-logo {
    width: 280px;
  }
}

@media only screen and (max-width: 360px) {
  .header-logo {
    width: 270px;
  }
}