@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.splash-image {
  display: flex;
  width: 50%;
  right: 30px;
  position: fixed;
}
h1 {
  display: flex;
  position: fixed;
  left: 60px;
  top: 200px;
  font-size: 80px;
  font-family: "Poppins", serif;
  color: #ed7d90;
}
h2 {
  display: flex;
  position: fixed;
  top: 380px;
  left: 60px;
  color: #dba37d;
  font-weight: 500;
  font-size: 40px;
}
.squiggle-image {
  width: 200px;
  position: fixed;
  display: flex;
  left: 60px;
  top: 480px;
}
h3 {
  display: flex;
  position: fixed;
  top: 550px;
  left: 60px;
  color: #03bdaa;
  font-weight: 300;
  font-size: 25px;
  overflow: hidden;
  width: 800px;
  text-align: left;
}
.home-outer {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  background-color: #ffe2cf;
  padding-top: 0px;
}
.home-inner {
  display: flex;
  width: 100%;
  height: 800px;
}
.home-content {
  display: flex;
}
.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: inherit;
  outline: none;
  font-family: "Poppins", serif;
  width: 215px;
  height: 60px;
  background-color: #03bdaa;
  border: 0px;
  border-radius: 30px;
  top: 720px;
  position: fixed;
  left: 60px;
}

.about-button:hover {
  cursor: pointer;
}
.build-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: inherit;
  outline: none;
  font-family: "Poppins", serif;
  width: 215px;
  height: 60px;
  border: 0px;
  border-radius: 30px;
  top: 720px;
  position: fixed;
  left: 350px;
  background: #ed7d91;
  background: -webkit-linear-gradient(bottom right, #ed7d91, #59c0be);
  background: -moz-linear-gradient(bottom right, #ed7d91, #59c0be);
  background: linear-gradient(to top left, #ed7d91, #59c0be);
}
a {
  text-decoration: none;
}
.build-button:hover {
  cursor: pointer;
}
.facebook-image {
  width: 80px;
  position: fixed;
  display: flex;
  left: 102px;
  top: 825px;
}
.instagram-image {
  width: 80px;
  position: fixed;
  display: flex;
  left: 250px;
  top: 825px;
}
.pinterest-image {
  width: 80px;
  position: fixed;
  display: flex;
  left: 400px;
  top: 825px;
}
.test {
  display: flex;
  width: 500px;
  overflow: hidden;
  position: fixed;
}
