* {
  box-sizing: border-box;
  font-family: "Helvetica";
}

.contact-form-container {
  width: 100%
}

form {
  padding: 0;
  width: 100%;
}

fieldset {
  border: none;
  margin: 30px;

}

.form-row {
  border-bottom: 1px solid #e6eef8;
  width: 800px;
  margin-bottom: 40px;
  width: 100%;
}

.form-textarea {
  width: 100%;
}

.label {
  color: #dba37d;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .43px;
  line-height: 26px;
  text-transform: uppercase;
  display: block;
}

.input {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
  color: grey;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  padding: 5px 20px 8px 0;
}

.textarea {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
  color: grey;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  padding: 5px 20px 8px 0;
  border: 1px solid #e6eef8;
}

.submit-row {
  text-align: right;
  padding: 12px 10px 13px 0;
}

.form-submit {
  -webkit-appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: white;
  background: #ED7D90;
  height: 40px;
  white-space: nowrap;
  display: inline-block;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all .15s ease;
}

.form-submit-sent {
  -webkit-appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: white;
  background: #03bdaa;
  height: 40px;
  white-space: nowrap;
  display: inline-block;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  text-decoration: none;
  transition: all .15s ease;
}