@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.about-container {
  display: flex;
  flex-direction: column;
}

.about-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-mid {
  display: flex;
  justify-content: center;
}

.icecream-header-image {
  width: 100%;
  display: flex;
}

.header-text {
 font-size: 75px;
 width: 100%;
 text-align: center;
 color: #7B3F00;
 font-family: 'Cedarville Cursive', cursive;
}

.about-bottom-left {
  display: flex;
  width: 50%;
}

.about-bottom-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.about-bottom {
  display: flex;
  flex-direction: row;
}

.about-text {
    color: #7B3F00;
    font-size: 22px;
}

.icecream-owner-image {
  width: 55%;
}

.founder-title {
    justify-content: center;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
.about-bottom {
  flex-direction: column;
}
.about-bottom-left {
  width: 100%;
}
.about-bottom-right {
  width: 100%;
}
}