.header-container {
  display: flex;
}
.header-top {
  display: flex;
  width: 100%;
  height: 80px;
}
.header-top__logo {
  width: 40%
}
.header-logo {
  width: 290px;
  left: 50px;
  display: flex;
}
.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 27px;
}
.header-top__navigation {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: inherit;
  outline: none;
  font-family: "Poppins", serif;
  width: 115px;
  height: 40px;
  background-color: #03bdaa;
  border: 0px;
  border-radius: 20px;
  margin-top: -7px;
  right: 50px;
}
.order-link {
  text-decoration: none;
}
.order-button:hover {
  cursor: pointer;
}
@media screen and (max-width: 851px) {
  .order-button {
    display: none;
  }

  .header-top__navigation {
    right: 30px;
  }

  .header-top__navbar {
    margin-top: 13px;
  }
}
